$shadow-color: #000;
$highlight-color: rgba(158, 12, 12, 0.479);
$logo-dot-color: #00ff00;
$app-name-color: #fff;
$header-background: #000;
$feedback-bacground-color: rgb(27, 187, 80);
$box-shadow-color: #444;
$hover-menu-item-color: #10c228;
$menu-tooltip-background-color: #fff;
$menu-tooltip-border-color: #008000;
$menu-tooltip-border-width: 1px;
$table-background-color: rgb(158, 12, 12, 0.479);
$table-header-color: #04aa6d;
$table-background-color-even: rgb(128, 136, 125);
$table-border-color: black;
$table-hover-color: $table-header-color;
